:root {
    --bg: #1a1e2d;
    --green: #a5ea9b;
    --pink: #ff61d8;
    --blue: #569cfa;
    --orange: #ffcc81;
    --cyan: #7ed1e2;
}

body {
    height: 100vh;
    width: 100vw;
    background: var(--bg);
    display: flex;
    place-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.container-cat {
    width: 60vw;
    height: 60vh;
}

.container-cat svg {
    height: 100%;
    width: 100%;
    overflow: visible;
}

#bongo-cat {
    fill: var(--bg);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 4;
}

#bongo-cat .laptop-cover, #bongo-cat .headphone .band {
    fill: none;
}

#bongo-cat .paw, #bongo-cat .head {
    stroke: var(--orange);
}

#bongo-cat .laptop-keyboard {
    stroke-width: 2;
}

#bongo-cat .terminal-code {
    stroke-width: 5;
}

#bongo-cat .music .note, #bongo-cat .laptop-base, #bongo-cat .laptop-cover, #bongo-cat .paw .pads {
    stroke: var(--pink);
}

#bongo-cat .table line, #bongo-cat .headphone .band, #bongo-cat .headphone .speaker path:nth-child(3) {
    stroke: var(--green);
}

#bongo-cat .terminal-frame, #bongo-cat .laptop-keyboard, #bongo-cat .headphone .speaker path:nth-child(2) {
    stroke: var(--blue);
}

#bongo-cat .terminal-code, #bongo-cat .headphone .speaker path:first-child {
    stroke: var(--cyan);
}

#bongo-cat .paw-right .down {
    animation: blinkdown 0.5s infinite;
}

@keyframes blinkdown {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#bongo-cat .paw-right .up {
    animation: blinkup 0.5s infinite;
}

@keyframes blinkup {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#bongo-cat .paw-left .down {
    animation: blinkup 0.5s infinite;
}

#bongo-cat .paw-left .up {
    animation: blinkdown 0.5s infinite;
}

.typing-animation {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 1200ms;
    animation-duration: 1200ms;
}

path#f1-l1 {
    -webkit-animation-name: typing-f1-l1;
    animation-name: typing-f1-l1;
}

path#f1-l2 {
    -webkit-animation-name: typing-f1-l2;
    animation-name: typing-f1-l2;
}

path#f1-l3 {
    -webkit-animation-name: typing-f1-l3;
    animation-name: typing-f1-l3;
}

path#f2-l4 {
    -webkit-animation-name: typing-f2-l4;
    animation-name: typing-f2-l4;
}

path#f2-l5 {
    -webkit-animation-name: typing-f2-l5;
    animation-name: typing-f2-l5;
}

path#f2-l6 {
    -webkit-animation-name: typing-f2-l6;
    animation-name: typing-f2-l6;
}

path#f3-l7 {
    -webkit-animation-name: typing-f3-l7;
    animation-name: typing-f3-l7;
}

path#f3-l8 {
    -webkit-animation-name: typing-f3-l8;
    animation-name: typing-f3-l8;
}

path#f3-l9 {
    -webkit-animation-name: typing-f3-l9;
    animation-name: typing-f3-l9;
}

@-webkit-keyframes typing-f3-l9 {
    0% {
        d: path("M8,25L8,25");
    }
    82% {
        d: path("M8,25L8,25");
    }
    92% {
        d: path("M8,25L96,25");
    }
    100% {
        d: path("M8,25L96,25");
    }
}

@keyframes typing-f3-l9 {
    0% {
        d: path("M8,25L8,25");
    }
    82% {
        d: path("M8,25L8,25");
    }
    92% {
        d: path("M8,25L96,25");
    }
    100% {
        d: path("M8,25L96,25");
    }
}

@-webkit-keyframes typing-f3-l8 {
    0% {
        d: path("M8,13L8,13");
    }
    68% {
        d: path("M8,13L8,13");
    }
    82% {
        d: path("M8,13L146,13");
    }
    100% {
        d: path("M8,13L146,13");
    }
}

@keyframes typing-f3-l8 {
    0% {
        d: path("M8,13L8,13");
    }
    68% {
        d: path("M8,13L8,13");
    }
    82% {
        d: path("M8,13L146,13");
    }
    100% {
        d: path("M8,13L146,13");
    }
}

@-webkit-keyframes typing-f3-l7 {
    0% {
        d: path("M0,1L0,1");
    }
    60% {
        d: path("M0,1L0,1");
    }
    68% {
        d: path("M0,1L96,1");
    }
    100% {
        d: path("M0,1L96,1");
    }
}

@keyframes typing-f3-l7 {
    0% {
        d: path("M0,1L0,1");
    }
    60% {
        d: path("M0,1L0,1");
    }
    68% {
        d: path("M0,1L96,1");
    }
    100% {
        d: path("M0,1L96,1");
    }
}

@-webkit-keyframes typing-f2-l6 {
    0% {
        d: path("M8,25L8,25");
    }
    54% {
        d: path("M8,25L8,25");
    }
    60% {
        d: path("M8,25L69,25");
    }
    100% {
        d: path("M8,25L69,25");
    }
}

@keyframes typing-f2-l6 {
    0% {
        d: path("M8,25L8,25");
    }
    54% {
        d: path("M8,25L8,25");
    }
    60% {
        d: path("M8,25L69,25");
    }
    100% {
        d: path("M8,25L69,25");
    }
}

@-webkit-keyframes typing-f2-l5 {
    0% {
        d: path("M8,13L8,13");
    }
    44% {
        d: path("M8,13L8,13");
    }
    54% {
        d: path("M8,13L114,13");
    }
    100% {
        d: path("M8,13L114,13");
    }
}

@keyframes typing-f2-l5 {
    0% {
        d: path("M8,13L8,13");
    }
    44% {
        d: path("M8,13L8,13");
    }
    54% {
        d: path("M8,13L114,13");
    }
    100% {
        d: path("M8,13L114,13");
    }
}

@-webkit-keyframes typing-f2-l4 {
    0% {
        d: path("M0,1L0,1");
    }
    30% {
        d: path("M0,1L0,1");
    }
    44% {
        d: path("M0,1L136,1");
    }
    100% {
        d: path("M0,1L136,1");
    }
}

@keyframes typing-f2-l4 {
    0% {
        d: path("M0,1L0,1");
    }
    30% {
        d: path("M0,1L0,1");
    }
    44% {
        d: path("M0,1L136,1");
    }
    100% {
        d: path("M0,1L136,1");
    }
}

@-webkit-keyframes typing-f1-l3 {
    0% {
        d: path("M8,25L8,25");
    }
    24% {
        d: path("M8,25L8,25");
    }
    30% {
        d: path("M8,25L61,25");
    }
    100% {
        d: path("M8,25L61,25");
    }
}

@keyframes typing-f1-l3 {
    0% {
        d: path("M8,25L8,25");
    }
    24% {
        d: path("M8,25L8,25");
    }
    30% {
        d: path("M8,25L61,25");
    }
    100% {
        d: path("M8,25L61,25");
    }
}

@-webkit-keyframes typing-f1-l2 {
    0% {
        d: path("M8,13L8,13");
    }
    14% {
        d: path("M8,13L8,13");
    }
    24% {
        d: path("M8,13L124,13");
    }
    100% {
        d: path("M8,13L124,13");
    }
}

@keyframes typing-f1-l2 {
    0% {
        d: path("M8,13L8,13");
    }
    14% {
        d: path("M8,13L8,13");
    }
    24% {
        d: path("M8,13L124,13");
    }
    100% {
        d: path("M8,13L124,13");
    }
}

@-webkit-keyframes typing-f1-l1 {
    0% {
        d: path("M0,1L0,1");
    }
    14% {
        d: path("M0,1L160,1");
    }
    100% {
        d: path("M0,1L160,1");
    }
}

@keyframes typing-f1-l1 {
    0% {
        d: path("M0,1L0,1");
    }
    14% {
        d: path("M0,1L160,1");
    }
    100% {
        d: path("M0,1L160,1");
    }
}

#laptop__code {
    transform: rotateX(-34deg) rotateY(-46deg) rotateZ(-23deg) translateX(8px) translateY(20px) translateZ(-50px);
}

#laptop__code #f3 {
    transform: rotateX(-30.5deg) rotateY(-46deg) rotateZ(-23deg) translateX(-100px) translateY(103px) translateZ(-50px);
}

#bongo-cat .music-right .note .note1 {
    stroke: var(--green);
    animation: dash 3s ease-out infinite;
}

@keyframes dash {
    0% {
        transform: translateY(0px) translateX(0px);
        opacity: 0;
    }
    10% {
        transform: translateY(-25px) translateX(-5px);
    }
    20% {
        transform: translateY(-50px) translateX(5px);
    }
    30% {
        transform: translateY(-75px) translateX(-10px);
    }
    40% {
        transform: translateY(-100px) translateX(10px);
    }
    50% {
        transform: translateY(-125px) translateX(-11px);
        opacity: 1;
    }
    60% {
        transform: translateY(-150px) translateX(11px);
    }
    70% {
        transform: translateY(-175px) translateX(-12px);
    }
    80% {
        transform: translateY(-200px) translateX(12px);
    }
    90% {
        transform: translateY(-225px) translateX(-13px);
    }
    100% {
        transform: translateY(-250px) translateX(13px);
        opacity: 0;
    }
}

#bongo-cat .music-right .note .note2{
    stroke: var(--cyan);
    animation: dash2 3s ease-out infinite;
    animation-delay: 1s;
}

@keyframes dash2 {
    0% {
        transform: translateY(0px) translateX(0px);
        opacity: 0;
    }
    10% {
        transform: translateY(-25px) translateX(-15px);
    }
    20% {
        transform: translateY(-50px) translateX(-5px);
    }
    30% {
        transform: translateY(-75px) translateX(-30px);
    }
    40% {
        transform: translateY(-100px) translateX(-20px);
    }
    50% {
        transform: translateY(-125px) translateX(-45px);
        opacity: 1;
    }
    60% {
        transform: translateY(-150px) translateX(-35px);
    }
    70% {
        transform: translateY(-175px) translateX(-60px);
    }
    80% {
        transform: translateY(-200px) translateX(-50px);
    }
    90% {
        transform: translateY(-225px) translateX(-75px);
    }
    100% {
        transform: translateY(-250px) translateX(-65px);
        opacity: 0;
    }
}

#bongo-cat .music-right .note .note3{
    stroke: var(--orange);
    animation: dash3 3s ease-out infinite;
    animation-delay: 2s;
}

@keyframes dash3 {
    0% {
        transform: translateY(0px) translateX(0px);
        opacity: 0;
    }
    10% {
        transform: translateY(-25px) translateX(15px);
    }
    20% {
        transform: translateY(-50px) translateX(5px);
    }
    30% {
        transform: translateY(-75px) translateX(30px);
    }
    40% {
        transform: translateY(-100px) translateX(20px);
    }
    50% {
        transform: translateY(-125px) translateX(45px);
        opacity: 1;
    }
    60% {
        transform: translateY(-150px) translateX(35px);
    }
    70% {
        transform: translateY(-175px) translateX(60px);
    }
    80% {
        transform: translateY(-200px) translateX(50px);
    }
    90% {
        transform: translateY(-225px) translateX(80px);
    }
    100% {
        transform: translateY(-250px) translateX(70px);
        opacity: 0;
    }
}

#bongo-cat .music-left .note .note1 {
    stroke: var(--cyan);
    animation: dash4 3s ease-out infinite;
}

@keyframes dash4 {
    0% {
        transform: translateY(0px) translateX(0px);
        opacity: 0;
    }
    10% {
        transform: translateY(-25px) translateX(5px);
    }
    20% {
        transform: translateY(-50px) translateX(-5px);
    }
    30% {
        transform: translateY(-75px) translateX(10px);
    }
    40% {
        transform: translateY(-100px) translateX(-10px);
    }
    50% {
        transform: translateY(-125px) translateX(11px);
        opacity: 1;
    }
    60% {
        transform: translateY(-150px) translateX(-11px);
    }
    70% {
        transform: translateY(-175px) translateX(14px);
    }
    80% {
        transform: translateY(-200px) translateX(-14px);
    }
    90% {
        transform: translateY(-225px) translateX(19px);
    }
    100% {
        transform: translateY(-250px) translateX(-19px);
        opacity: 0;
    }
}



#bongo-cat .music-left .note .note2{
    stroke: var(--pink);
    animation: dash5 3s ease-out infinite;
    animation-delay: 1s;
}

@keyframes dash5 {
    0% {
        transform: translateY(0px) translateX(0px);
        opacity: 0;
    }
    10% {
        transform: translateY(-25px) translateX(-6px);
    }
    20% {
        transform: translateY(-50px) translateX(6px);
    }
    30% {
        transform: translateY(-75px) translateX(-8px);
    }
    40% {
        transform: translateY(-100px) translateX(8px);
    }
    50% {
        transform: translateY(-125px) translateX(-11px);
        opacity: 1;
    }
    60% {
        transform: translateY(-150px) translateX(11px);
    }
    70% {
        transform: translateY(-175px) translateX(-13px);
    }
    80% {
        transform: translateY(-200px) translateX(13px);
    }
    90% {
        transform: translateY(-225px) translateX(-20px);
    }
    100% {
        transform: translateY(-250px) translateX(20px);
        opacity: 0;
    }
}


#bongo-cat .music-left .note .note3{
    stroke: var(--green);
    animation: dash6 3s ease-out infinite;
    animation-delay: 2s;
}

@keyframes dash6 {
    0% {
        transform: translateY(0px) translateX(0px);
        opacity: 0;
    }
    10% {
        transform: translateY(-25px) translateX(6px);
    }
    20% {
        transform: translateY(-50px) translateX(-6px);
    }
    30% {
        transform: translateY(-75px) translateX(8px);
    }
    40% {
        transform: translateY(-100px) translateX(-8px);
    }
    50% {
        transform: translateY(-125px) translateX(11px);
        opacity: 1;
    }
    60% {
        transform: translateY(-150px) translateX(-11px);
    }
    70% {
        transform: translateY(-175px) translateX(13px);
    }
    80% {
        transform: translateY(-200px) translateX(-13px);
    }
    90% {
        transform: translateY(-225px) translateX(20px);
    }
    100% {
        transform: translateY(-250px) translateX(-20px);
        opacity: 0;
    }
}




