@charset "utf-8";

/*import Fira Mono font*/
@font-face {
    font-family: FiraMono;
    src: url(../font/FiraMono-Regular.ttf);
}

/* Variables */
:root {
    --font-family: "FiraMono", sans-serif;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
}

/* Global */
* {
    box-sizing: border-box;
}

/* Responsiveness */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* Select all class attribute value containing 'col-' (CSS attribute value selector) */
[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

/* Clearfix hack */
.row::after {
    content: "";
    clear: both;
    display: table;
  }

body {
    font-family: var(--font-family);
}


/* Navigation bar styles */


/* Navigation link styles */


/* Background colors */

/* Icon Styles */


/* Layout Styles */




/* Footer styles */


/* Font styles */