@charset "utf-8";
/*import Fira Mono font*/
@import url('http://fonts.cdnfonts.com/css/fira-mono');

/* Variables */
:root {
    --font-family: "Fira Mono", sans-serif;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
}
/* Variables end */

body {
    font-family: var(--font-family);
}

/* Navigation bar styles */


/* Navigation link styles */


/* Button styles */
#readmorebtn {
    background-color: #EEE5E9;
    color: black;
}

#readmorebtn:hover {
    background-color: #EEA243;
    color: white;
}

#letstalkbtn {
    background-color: #3D405B;
    color: white;
}

#letstalkbtn:hover {
    background-color: #EEA243;
    color: white;
}

/* Background colors */

.customers {
    color: white;
}

/* Icon Styles */
.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
  }
  
.up-arrow {
    width: 3rem;
    height: 3rem;
}
/* Image styles */

#picture1 {
    margin-top: 66px;
}

/* Layout Styles */
.teacher {
    padding-left: 10% !important;
}
.body {
    padding-right: 0px;
    padding-left: 0px;
    max-width: 2000px;
}

.skills {
    padding-left: 24rem;
    padding-right: 24rem;
}

.skillsmedium {
    padding-left: 14rem;
    padding-right: 14rem;
}

.projects {
    padding-left: 10rem;
    padding-right: 10rem;
}

.projectsmedium {
    padding-left: 7rem;
    padding-right: 7rem;
}

#boxshadow {
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    border-radius: 6px;
}

.icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 15px;
    margin: 10px;
}

.icon {
    width: 5rem;
    height: 13rem;
}

#aboutmecontainer {
    padding-top: 7rem;
}

.firstrow {
    padding-top: 7rem;
    padding-bottom: 4rem;
}

.icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
}

/*Footer styles */
.footer {
    font-size: 0.8rem;
}