@charset "utf-8";
/*import Fira Mono font*/
@import url('http://fonts.cdnfonts.com/css/fira-mono');

/* Variables */
:root {
    --font-family: "Fira Mono", sans-serif;
    --primary-shadow: #8b8eaf;
}
/* Variables end */

body {
    font-family: var(--font-family);
}

/* Navigation bar styles */
.nav-link {
    color: black !important;
}

.nav-link:hover {
    color: white !important;
    background-color: #515052;
}

/* Navigation link styles */


/* Brand style */
.brand {
    font-size: 2rem;
    color: #82A0BC;
}

/* Button styles */
#readmorebtn {
    background-color: #EEE5E9;
    color: black;
}

#readmorebtn:hover {
    background-color: #EEA243;
    color: white;
}

#letstalkbtn {
    background-color: #3D405B;
    color: white;
}

#letstalkbtn:hover {
    background-color: #EEA243;
    color: white;
}

/* Background colors */
.second {
    background-color: #588BAE;
}

.customers {
    color: white;
}

/* Icon Styles */
#appleicon {
    color: #EF5B5B;
    font-size: 3.5rem;
}

#studenticon {
    color: #9882AC;
    font-size: 3.5rem;
}

/* Image styles */

#picture1 {
    margin-top: 66px;
}

/* Layout Styles */
.teacher {
    padding-left: 10% !important;
}
.body {
    padding-right: 0px;
    padding-left: 0px;
    max-width: 2000px;
}

#boxshadow {
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    border-radius: 6px;
}

#aboutmecontainer {
    padding-top: 5rem;
}

