.container {
    max-width: 500px;
    margin: 200px auto;
    text-align: center;
}

.heading {
    font-family: var(--font-big-heading);
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: 400;
}

.paragraph {
    margin: 0;
}

.button {
    composes: button from "./global.css";
    background: transparent;
    border: 1.5px solid;
    border-radius: 4px;
    padding: 0.7rem 1.65rem;
    display: inline-block;
    margin-top: 50px;
    color: var(--color-light-yellow);
}

.button:hover {
    background: var(--color-grey-hover);
}

@media screen and (max-width: 1200px) {
    .container {
        margin: 125px auto 50px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin: 100px auto 50px;
    }

    .paragraph {
        padding: 0px 30px 0px;
    }
}

@media screen and (max-width: 400px) {

    .paragraph {
        padding: 0px 10px 0px;
    }
}

