.container {
    margin: 0 auto;
    padding: 150px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
}

.grid {
    list-style: none;
    padding: 0px;
    margin: 50px 0px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    position: relative;
}

.outer-card {
    position: relative;
}

.card {
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color: var(--color-dark-grey);
    padding: 2rem 1.75rem;
    border-radius: 4px;
    position: relative;
    align-items: flex-start;
}

.image {
    height: 150px;
}


.description {
    font-size: var(--font-size-14);
}