.container {
    margin: 250px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
}

.grid {
    list-style: none;
    padding: 0px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    position: relative;
}

.cards {
    height: 100%;
    background-color: #1d2d44;
    padding: 2rem 1.75rem;
    border-radius: 4px;
}

.description {
    font-size: var(--font-size-15);
}