@charset "utf-8";

/* Navigation Bar Styles */
.nav-link {
    color: black !important;
}

.nav-link:hover {
    color: white !important;
    background-color: #515052;
}

.brand {
    font-size: 2rem;
    color: #82A0BC;
}

#firstSection {
    margin-top: 66px;
}

/* Row Styles */
.firstrow {
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 10%;
    background-color: #F0F7F4;
}

/* List Styles */
.list1 {
    
    list-style-type: square;
}

/* Table Styles */
caption {
    caption-side: top;
    text-align: center;
    color: black;
}
td {
    padding: 2%;
}

/* Background Styles */
.features {
    background-color: #F0F7F4;
}