@import "./global.css";

/* Global */
* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-anonymouse-pro);
}

.container {
    max-width: 960px;
    margin: 0 auto;
    font-family: sans-serif;
    clear: right;
}

.site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
    text-align: center;
}