@charset "utf-8";

/* Navigation bar styles */
.nav-link {
    color: black !important;
}

.nav-link:hover {
    color: white !important;
    background-color: #515052;
}

/* Navigation link styles */
.nav-link2:hover {
    color: black;
}

/* Brand style */
.brand {
    font-size: 2rem;
    color: #82A0BC;
}

/* Button styles */
#readmorebtn {
    background-color: #EEE5E9;
    color: black;
}

#readmorebtn:hover {
    background-color: #EEA243;
    color: white;
}

#letstalkbtn {
    background-color: #3D405B;
    color: white;
}

#letstalkbtn:hover {
    background-color: #EEA243;
    color: white;
}

/* Background colors */
.second {
    background-color: #588BAE;
}

.customers {
    color: white;
}

/* Icon Styles */
#appleicon {
    color: #EF5B5B;
    font-size: 3.5rem;
}

#studenticon {
    color: #9882AC;
    font-size: 3.5rem;
}

/* Image styles */

#picture1 {
    margin-top: 66px;
}

/* Layout Styles */
.teacher {
    padding-left: 10% !important;
}

